*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #fff;
    text-align: center;
}
.calculator {
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: inline-block;
    max-width: 350px;
}

.inputArea {
    display: flex;
    align-items: center;
    padding: 5px;
}

.inputArea input {
    padding: 10px;
    font-size: 2rem;
    border: 0;
    background-color: #fff;
    width: 100%;
}
.inputArea input:focus{
    outline: none;
}
.calculator button {
    padding: 10px 15px;
    background: #03a9f4;
    color: #fff;
    border: none;
    font-size: 2rem;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 75px;
    text-transform: capitalize;
    margin: 7px 4px;
}